body {
  background: linear-gradient(#2C2C2C, #1A1A1A, #333333); /* Darker background to complement black navbar */
  background-repeat: repeat-x;
  background-size: 100% 100%;
  height: auto;
  margin: 0;
}
.navbar {
  width: 100%;
  background: linear-gradient(maroon,black);
  overflow: auto;
  border: 1px;
  position: fixed;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: linear-gradient(maroon,white);
  border-radius: 3%;
}

.active {
  background-color: gray;
}

#logo {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  float: left;
  position: fixed;
  margin-top: -24px;

}

#cms{

 letter-spacing: 5px;
  color: white;
  margin-top: 1.75%;
  margin-left: 10%;
  font-size: 35px;
  float: right;
  margin-right: 40px;

}
 #Search{
    margin-left: 130px;
  }
  .input-container{
       background-image: url(bg.jpg);
       width:15%;
       padding: 8%;
       margin-bottom: 5%;
       border:5px solid lightgrey;
       border-radi us: 10%; 
       box-shadow: 5px 12px 7px 5px;   
       border-radius: 20%;

}
#create{
  color: white;
  font-size: 20px;
}
input:hover{
    background:linear-gradient(lightgrey,#FB9590,#FFBB94);
    margin-top: 5px;
    border-radius: 10px;
    color: black;
  }
      
  button:hover{
    background:linear-gradient(lightgrey,#FB9590,#FFBB94);

  }
  a{
    margin-top: 1%;
  }
  #head{
    color: white;
    letter-spacing: 5px;
  }
.fa-user{
  color: white;
}
button{
  margin-top: 20px;
  border-radius: 30px;
  width: 100px ;
  height: 30px;
}
 input{
  border-radius: 10px;
  width: 250px;
  margin-left: -20px;
 }